* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: clamp(1rem, 1.2vmax, 3rem);
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    &,
    * {
        --accent-color: #2672ff;
        --accent-color--light: rgba(38, 114, 255, 0.06);
        --text-color: 36, 36, 36;
        --background-color: 247, 250, 255;
        --foreground-color: rgb(250, 252, 255);
        --danger-color: rgb(255, 75, 75);
        --green: #1cad59;
        --yellow: #f3a600;
        scrollbar-width: thin;
    }
    
    color: rgba(var(--text-color), 1);
    background: rgba(var(--background-color), 1);
}

body[data-theme='dark'] {
    
    &,
    * {
        --accent-color: rgb(170, 190, 255);
        --accent-color--light: rgba(231, 239, 255, 0.06);
        --text-color: 230, 230, 230;
        --text-color-light: 170, 170, 170;
        --background-color: 10, 10, 10;
        --foreground-color: rgb(20, 20, 20);
        --danger-color: rgb(255, 106, 106);
        --green: #00E676;
        --yellow: #ffd13a;
    }
}

p {
    font-size: 0.9rem;
    max-width: 70ch;
    line-height: 1.7;
    color: rgba(var(--text-color), 0.8);

    &:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }
}

a:where([class]) {
    color: inherit;
    text-decoration: none;

    &:focus-visible {
        box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
    }
}

a {
    color: var(--accent-color);
}

button,
.button {
    user-select: none;
    position: relative;
    display: inline-flex;
    border: none;
    background-color: transparent;
    overflow: hidden;
    color: inherit;
    cursor: pointer;
    transition: transform 0.3s;
}
.button{
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 0.8rem;
    border: solid thin rgba(var(--text-color), 0.5);
}

button:disabled {
    opacity: 0.5;
}

a:any-link:focus-visible {
    outline: rgba(var(--text-color), 1) 0.1rem solid;
}

sm-button {
    --border-radius: 0.5rem;
    --padding: 0.8rem 1rem;
    &[variant="primary"] {
        .icon {
            fill: rgba(var(--background-color), 1);
        }
    }

    &[disabled] {
        .icon {
            fill: rgba(var(--text-color), 0.6);
        }
    }
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.hide-completely {
    display: none !important;
}

.no-transformations {
    transform: none !important;
}

.overflow-ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.breakable {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.full-bleed {
    grid-column: 1/4;
}

.h1 {
    font-size: 2.5rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.4rem;
}

.h4 {
    font-size: 1rem;
}

.h5 {
    font-size: 0.8rem;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-3 {
    grid-template-columns: 1fr auto auto;
}

.flow-column {
    grid-auto-flow: column;
}

.gap-0-5 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1-5 {
    gap: 1.5rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.text-align-right {
    text-align: right;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    margin-left: auto;
}

.align-self-center {
    align-self: center;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: end;
}

.direction-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.stretch {
    justify-content: stretch;
    justify-items: stretch;

    &>* {
        width: 100%;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(var(--text-color), 0.16);
    pointer-events: none;
}

.interact {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.observe-empty-state:empty {
    display: none;
}

.observe-empty-state:not(:empty)~.empty-state {
    display: none;
}

.icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: rgba(var(--text-color), 0.8);
}

.button__icon {
    height: 1.2rem;
    width: 1.2rem;

    &--left {
        margin-right: 0.5rem;
    }

    &--right {
        margin-left: 0.5rem;
    }
}

.icon-button{
    padding: 0.6rem;
    border-radius: 0.8rem;
    background-color: var(--accent-color--light);
    .icon{
        fill: var(--accent-color);
    }
}
#confirmation_popup,
#prompt_popup {
    flex-direction: column;

    h4 {
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    sm-button {
        margin: 0;
    }

    .flex {
        padding: 0;
        margin-top: 1rem;

        sm-button:first-of-type {
            margin-right: 0.6rem;
            margin-left: auto;
        }
    }
}

button:active,
.button:active,
.interact:active,
.nav-item:active{
    transform: scale(0.96);
}


#main_page {
    padding: 1.5rem;

    &>section:nth-of-type(1) {
        align-content: flex-start;
    }
}
#logo {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: auto 1fr;
    gap: 0 0.3rem;
    margin-right: 1rem;

    h4 {
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 600;
    }

    #main_logo {
        height: 1.4rem;
        width: 1.4rem;
        fill: rgba(var(--text-color), 1);
        stroke: none;
    }
}
details {
    summary {
        user-select: none;
        cursor: pointer;
    }
    
    &[open] > summary {
        margin-bottom: 1rem;
        .icon {
            transform: rotate(180deg);
        }
    }

}
.card{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--accent-color--light);
}
.page-layout{
    display: grid;
    grid-template-columns: 1.5rem minmax(0, 1fr) 1.5rem;
    & > * {
        grid-column: 2/3;
    }
}
.page{
    height: 100%;
}
#sign_in,
#sign_up{
    place-items: center;
    section{
        width: min(24rem, 100%);
    }
    sm-form{
        margin: 2rem 0;
    }
}
#sign_up{
    sm-copy{
        font-size: 0.9rem;
        --button-border-radius: 0.5rem
    }
    .h2{
        margin-bottom: 0.5rem;
    }
    .card{
        margin: 1.5rem 0;
    }
    h5{
        font-weight: 500;
        color: rgba(var(--text-color), 0.8);
    }
}
#homepage{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 'main-header' 'subpages' 'main-nav';
}
#main_nav{
    grid-area: main-nav;
    position: relative;
    display: flex;
}
.nav-item{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: inherit;
    transition: transform 0.3s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &--active{
        .icon{
            fill: var(--accent-color);
        }
        .nav-item__title{
            color: var(--accent-color);
        }
    }
}
#main_header {
    grid-area: main-header;
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 1fr auto;
}
#subpage_container{
    grid-area: subpages;
    overflow-y: auto;
}
#dashboard{
    display: grid;
    gap: 1.5rem;
    padding: 0 1.5rem;
}
#quick_actions_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
}
.quick-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon{
        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--accent-color--light);
        margin-bottom: 0.8rem;
        .icon{
            height: 1.5rem;
            width: 1.5rem;
            fill: var(--accent-color);
        }
    }
    &__title{
        font-size: 0.8rem;
        font-weight: 500;
    }
}
#recent_transactions_container{
    display: grid;
    margin: 1.5rem 0;
    padding-bottom: 5rem;
}
.activity-card{
    display: grid;
    padding: 1rem 0;
    gap: 0.4rem 1rem;
    border-radius: 0.5rem;
    align-items: flex-start;
    color: inherit;
    cursor: pointer;
    grid-template-columns: auto minmax(0, 1fr) auto;
    &__icon{
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 0.8rem;
        background-color: rgba(var(--text-color), 0.06);
        .icon{
            height: 1.3rem;
            width: 1.3rem;
        }
    }
    &__title{
        font-size: 0.95rem;
        &::first-letter{
            text-transform: uppercase;
        }
        font-weight: 500;
    }
    &__time{
        font-size: 0.8rem;
        color: rgba(var(--text-color), 0.8);
    }
}
#notifications,
#transactions{
    padding-bottom: 5rem;
    .activity-card{
        padding: 1rem 1.5rem;
    }
}
.activity-card--request{
    grid-template-areas: 'icon . amount' 'icon time .';
    .activity-card__icon{
        grid-area: icon;
    }
    .activity-card__time{
        grid-area: time;
    }
    .activity-card__amount{
        grid-area: amount;
        text-align: end;
    }
}
.status-tag:not(:empty){
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.7rem;
    border-radius: 0.2rem;
    padding: 0.3rem 0.4rem;
    font-weight: 500;
    color: rgba($color: #000000, $alpha: 0.7);
    &.success{
        color: var(--green);
        background-color: rgb(0, 230, 118, 0.1);
    }
    &.failed{
        color: var(--danger-color);
        background-color: rgb(255, 75, 75, 0.1);
    }
    &.pending{
        color: var(--yellow);
        background-color: rgba(255, 252, 75, 0.1);
    }
}
.activity-card--response{
    grid-template-areas: 'icon . time' 'icon description description';
    .activity-card__icon{
        grid-area: icon;
    }
    .activity-card__description{
        grid-area: description;
        font-size: 0.8rem;
        color: rgba(var(--text-color), 0.8);
    }
    .activity-card__time{
        grid-area: time;
    }
}
.success{
    .icon{
        fill: var(--green);
    }
}
.pending{
    .icon{
        fill: var(--yellow);
    }
}
.failed{
    .icon{
        fill: var(--danger-color);
    }
}
#user_section{
    padding: 1.5rem;
}
#transaction{
    gap: 1.5rem 0;
    padding: 1.5rem 0;
    align-content: flex-start;
}
#transaction_top{
    position: relative;
    align-content: flex-start;
}
#transaction_detail__icon{
    display: flex;
    background-color: var(--accent-color);
    border-radius: 40%;
    padding: 1rem;
    aspect-ratio: 1/1;
    .icon{
        height: 2rem;
        width: 2rem;
        fill: rgba(var(--background-color), 1);
    }
}
#transaction_detail__amount{
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    &::before{
        font-weight: 500;
        font-size: 1rem;
        align-self: flex-start;
        content: '₹';
    }
}
#transaction_detail__time{
    font-size: 0.8rem;
    color: rgba(var(--text-color), 0.8);
    margin-right: 1rem;
}
@media screen and (max-width: 640px) {
    sm-button{
        --padding: 1rem;
    }
    #dashboard{
        padding: 0 1.5rem;
    }
    #main_nav{
        border-radius: 1rem 1rem 0 0;
        background-color: var(--foreground-color);
    }
    .nav-item{
        flex: 1;
        flex-direction: column;
        &__title{
            display: flex;
            font-size: 0.7rem;
            font-weight: 500;
            color: rgba(var(--text-color), 0.8);
            margin-top: 0.3rem;
        }
    }
    #transaction_top{
        text-align: center;
    }
    #transaction_detail__status{
        justify-self: center;
    }
    #transaction_detail__icon{
        justify-self: center;
    }
    #transaction_detail__amount{
        justify-content: center;
    }
}
@media screen and (min-width: 640px) {
    #confirmation_popup,
    #prompt_popup {
        --width: 24rem;
    }
    .page-layout{
        grid-template-columns: 1fr 80vw 1fr;
    }
    #homepage{
        background-color: var(--foreground-color);
        grid-template-rows: auto 1fr;
        grid-template-columns: auto minmax(0, 1fr);
        grid-template-areas: 'main-header main-header user-section' 'main-nav subpages user-section';
    }
    #main_nav{
        flex-direction: column;
        padding: 0 1rem;
        &::after{
            position: absolute;
            right: 0;
            content: '';
            width: 1px;
            background-color: rgba(var(--text-color), 0.3);
            height: 80%;
        }
    }
    .nav-item{
        &--active{
            background-color: var(--accent-color--light);
        }
        &:not(:last-of-type){
            margin-bottom: 0.5rem;
        }
        &:last-of-type{
            margin-top: auto;
            margin-bottom: 1.5rem;
        }
        &__title{
            display: none;
        }
    }

    #user_section{
        grid-area: user-section;
        background-color: rgba(var(--background-color), 1);
    }
    #transaction_top{
        overflow: hidden;
        padding: 1.8rem;
        border-radius: 0.5rem;
        // border: solid thin rgba(var(--text-color), 0.16);
        background-color: var(--foreground-color);
        box-shadow: 0 1rem 1.5rem -0.8rem rgba(0, 0, 0, 0.1);
    }
    #transaction_detail__status{
        justify-self: flex-start;
    }
    #transaction_detail__icon{
        justify-self: flex-start;
    }
}
@media screen and (max-width: 1024px) {
    #user_section{
        position: fixed;
        background-color: rgba(var(--background-color), 1);
        z-index: 2;
        transform: translateX(-100%);
    }
}
@media screen and (min-width: 1024px) {
    .card{
        padding: 2rem;
    }
    #homepage{
        grid-template-columns: 14rem minmax(0, 1fr) 24rem;
    }
    .nav-item{
        &__title{
            display: flex;
            font-size: 0.9rem;
            font-weight: 500;
            color: rgba(var(--text-color), 0.8);
            margin-left: 0.5rem;
        }
    }
    #transaction{
        section{
            display: grid;
            grid-template-columns: 18rem minmax(0, 1fr);
        }
    }
}
@media (any-hover: hover) {
    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(var(--text-color), 0.3);
        border-radius: 1rem;

        &:hover {
            background: rgba(var(--text-color), 0.5);
        }
    }
    .nav-item,
    .interact{
        transition: background-color 0.3s, transform 0.3s;
        &:hover{
            background-color: var(--accent-color--light);
        }
    }
}